body {
  background-color: #CDEDFF;
}

#map {
  height: 400px;
  width: 70%;
  border: 1px solid #999;
  margin: auto;
  margin-top: 50px;
}

#fl {
  height: 400px;
  width: 70%;
  border: 1px solid #999;
  margin: auto;
  margin-top: 50px;
}

#rico {
  height: 400px;
  width: 70%;
  border: 1px solid #999;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

#impact {
    float: left;
    margin: 30px 70px;
}

#data {
  margin: 30px 70px;
}

#about {
  margin: 30px 70px;
}
